/batch_output.json
/batch_output.executor.json
/executor_prover_output.json
/executor.db/
/sequencer.db
/metrics/
/l1-contracts/
/contracts/system-contracts/
/contracts/l1-contracts/
/executor/target/